<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <meta name="theme-color" content="#262626" />
    <meta
      name="description"
      content={
        assigns[:page_description] ||
          "Personal website of Basile Nouvellet - Product software engineer"
      }
    />

    <%!-- Facebook Open Graph meta tags --%>
    <meta property="og:type" content="website" />

    <%!-- Twitter Card meta tags --%>
    <meta name="twitter:card" content={assigns[:page_twitter_card] || "summary"} />

    <.live_title><%= assigns[:page_title] || "Basile Nouvellet" %></.live_title>

    <link rel="icon" href={~p"/favicon.ico?v=2"} sizes="any" />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-neutral-800 text-neutral-200 antialiased">
    <%= @inner_content %>
  </body>
</html>
